<input
    type="checkbox"
    id="layout-sidebar-toggle-trigger"
    class="hidden"
    aria-label="Toggle layout sidebar" />
<input
    type="checkbox"
    id="layout-sidebar-hover-trigger"
    class="hidden"
    aria-label="Dense layout sidebar" />
<div id="layout-sidebar-hover" class="bg-base-300 h-screen w-1"></div>
<div
    id="layout-sidebar"
    class="sidebar-menu relative flex h-full w-full flex-col py-3">
    <label
        for="layout-sidebar-hover-trigger"
        title="Toggle sidebar hover"
        class="btn btn-circle btn-ghost btn-sm text-base-content/50 absolute end-2 top-3.5 max-lg:hidden">
        <span
            class="iconify lucide--panel-left-close absolute size-4.5 opacity-100 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-0"></span>
        <span
            class="iconify lucide--panel-left-dashed absolute size-4.5 opacity-0 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-100"></span>
    </label>
    <div class="flex min-h-10 items-center gap-3 px-5">
        <span class="text-xl font-semibold">tud•la</span>
        <hr class="border-base-300 h-5 border-e" />
        <div class="flex items-center gap-1.5">
            <div class="status status-success size-1.5"></div>
            <span class="text-base-content/80 text-sm">Online</span>
        </div>
    </div>
    <div class="custom-scrollbar grow overflow-auto">
        <div class="mt-4">
            <div class="flex items-center justify-between px-5">
                <p class="menu-label">Navigation</p>
                <button class="btn btn-xs btn-ghost btn-circle" aria-label="Add">
                    <span class="iconify lucide--plus size-4 opacity-60"></span>
                </button>
            </div>
            <div class="mt-1 space-y-0.5 px-2.5">
                <%= link_to user_root_path, class: "menu-item group" do %>
                    <span class="iconify lucide--layout-dashboard size-4"></span>
                    <p class="grow">Dashboard</p>
                    <span
                        class="iconify lucide--chevron-right size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></span>
                <% end %>
                <%= link_to projects_path, class: "menu-item group" do %>
                    <span class="iconify lucide--folder-open size-4"></span>
                    <p class="grow">Projects</p>
                    <span
                        class="iconify lucide--chevron-right size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></span>
                <% end %>
                <%= link_to teams_path, class: "menu-item group" do %>
                    <span class="iconify lucide--users size-4"></span>
                    <p class="grow">Team</p>
                    <span
                        class="iconify lucide--chevron-right size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></span>
                <% end %>
                <%= link_to reports_path, class: "menu-item group" do %>
                    <span class="iconify lucide--file-text size-4"></span>
                    <p class="grow">Reports</p>
                    <span
                        class="iconify lucide--chevron-right size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></span>
                <% end %>
            </div>
        </div>
    </div>
</div>
<label for="layout-sidebar-toggle-trigger" id="layout-sidebar-backdrop"></label>
